.head{
height:15%;
width:100%;
background-color:lime;
color:white;
text-align:center;
padding-top:5px;
}
.nav{
width:100%;
height:5%;
background-color:black;
text-align:center;
padding-top:10px;

}

a{
text-decoration:none;
color:white;
padding-top:10px;
padding-right:10px;
}

.about{
height:18%;
width:85%;
margin-top:5px;
margin-left:45px;
border-radius:5px;
background-color:white;
padding:10px 10px 10px 10px;
}

.event{
width:85%;
height:48%;
margin-top:5px;
margin-left:45px;
border-radius:5px;
background-color:white;
padding:10px 10px 10px 10px;

}

table{
	border-collapse:collapse;
}


