body{
background-color:green;
}

h2{
color:red;
text-shadow:1px 1px white;
text-align:center;
}

.form{
background-color:white;
padding:10px;
}

.row{
margin-top:8px;
}

label{
font-weight:bold;
}

.input-forms{
margin-top:8px;
}

input[type="text"],input[type="email"],input[type="number"],textarea{
background-color:white;
width:100%;
padding:10px;
}

input[type="submit"]{
margin-top:8px;
background-color:green;
width:100%;
color:white;
font-size:30px;
border:none;
text-shadow:1px 1px black;
}

input[type="submit"]:hover{
background-color:green;
}