.head{
width:100%;
height:7%;
background-color:blue;
text-align:center;
border-radius:5px;
}

.i{
border:1px solid black;
}
.body1{
background-color:white;
margin-top:10px;
padding:10px;
border-radius:5px;
}

.body2{
background-color:white;
margin-top:10px;
padding:10px;
border-radius:5px;
}

.footer{
background-color:blue;
position:fixed;
bottom:0px;
left:0px;
display:block;
width:100%;
text-align:center;
color:white;
}